In [3]:
%matplotlib inline
import pandas as pd
import os

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

IOError: [Errno 2] No such file or directory: 'style-table.css'

In [6]:
tar = os.chdir("C:\\Users\\xiyan_wang\\Desktop\\mystuff\\PyCon\\pycon-pandas-tutorial-master")
sales1 = pd.read_csv('sales1.csv')
sales1

                         Book title  Number sold  Sales price  Royalty paid
0            The Bricklayer’s Bible            8         2.99          0.55
1                          Swimrand            2         1.99          0.35
2  Pining For The Fisheries of Yore           28         2.99          0.55
3                The Duck Goes Here           34         2.99          0.55
4       The Tower Commission Report            4        11.50          4.25

In [7]:
sales2 = pd.read_csv('sales2.csv')
sales2.fillna('')

                               Title Units sold List price Royalty
0
1                Sales report for Q4
2             E-Book Reader US Store
3   Pining for the Fisheries of Yore         80        3.5   14.98
4                           Swimrand          1       2.99    0.14
5             The Bricklayer's Bible         17        3.5    5.15
6                 The Duck Goes Here         34       2.99    5.78
7        The Tower Commission Report          4        9.5     6.2
8                 US royalties (USD)                         32.25
9
10
11               Sales report for Q4
12            E-Book Reader UK Store
13  Pining for the Fisheries of Yore         47       2.99   11.98
14            The Bricklayer's Bible         17       2.99     3.5
15       The Tower Commission Report          4        6.5     4.8
16                UK royalties (GBP)                         20.28
17
18
19               Sales report for Q4
20        E-Book Reader France Store
21                          Swimrand          8       1.99    0.88
22                The Duck Goes Here         12       1.99     1.5
23            France royalties (EUR)                          2.38

### Challenge: first combine these sales together into a single dataframe, then compute how much money consumers spent on each book in each currency.

In [11]:
df1 = sales1.rename(columns={
    'Book title': 'title',
    'Number sold': 'number',
    'Sales price': 'their_price',
    'Royalty paid': 'we_got',
    })
df1['currency'] = 'USD'
df1
sales2.head()

                              Title  Units sold  List price  Royalty
0                               NaN         NaN         NaN      NaN
1               Sales report for Q4         NaN         NaN      NaN
2            E-Book Reader US Store         NaN         NaN      NaN
3  Pining for the Fisheries of Yore        80.0        3.50    14.98
4                          Swimrand         1.0        2.99     0.14

In [26]:
df2 = sales2.rename(columns = {
        'Title': 'title',
        'Units sold': 'number',
        'List price': 'their_price',
        'Royalty': 'we_got',
    })
df2 = df2.fillna(" ")
df2['currency'] = df2.title.str.extract(r'\((.*?)\)')
df2 = df2.fillna(method = 'bfill')
df2 = df2[df2.number != " "]
df2

C:\Users\xiyan_wang\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

                               title number their_price we_got currency
3   Pining for the Fisheries of Yore     80         3.5  14.98      USD
4                           Swimrand      1        2.99   0.14      USD
5             The Bricklayer's Bible     17         3.5   5.15      USD
6                 The Duck Goes Here     34        2.99   5.78      USD
7        The Tower Commission Report      4         9.5    6.2      USD
13  Pining for the Fisheries of Yore     47        2.99  11.98      GBP
14            The Bricklayer's Bible     17        2.99    3.5      GBP
15       The Tower Commission Report      4         6.5    4.8      GBP
21                          Swimrand      8        1.99   0.88      EUR
22                The Duck Goes Here     12        1.99    1.5      EUR

In [30]:
df = pd.concat([df1, df2], ignore_index=True)
df

                               title number their_price we_got currency
0             The Bricklayer’s Bible      8        2.99   0.55      USD
1                           Swimrand      2        1.99   0.35      USD
2   Pining For The Fisheries of Yore     28        2.99   0.55      USD
3                 The Duck Goes Here     34        2.99   0.55      USD
4        The Tower Commission Report      4        11.5   4.25      USD
5   Pining for the Fisheries of Yore     80         3.5  14.98      USD
6                           Swimrand      1        2.99   0.14      USD
7             The Bricklayer's Bible     17         3.5   5.15      USD
8                 The Duck Goes Here     34        2.99   5.78      USD
9        The Tower Commission Report      4         9.5    6.2      USD
10  Pining for the Fisheries of Yore     47        2.99  11.98      GBP
11            The Bricklayer's Bible     17        2.99    3.5      GBP
12       The Tower Commission Report      4         6.5    4.8      GBP
13                          Swimrand      8        1.99   0.88      EUR
14                The Duck Goes Here     12        1.99    1.5      EUR

In [31]:
df['total_paid'] = df.their_price * df.number
df.groupby(['title', 'currency'])[['total_paid']].sum()

                                           total_paid
title                            currency
Pining For The Fisheries of Yore USD            83.72
Pining for the Fisheries of Yore GBP           140.53
                                 USD           280.00
Swimrand                         EUR            15.92
                                 USD             6.97
The Bricklayer's Bible           GBP            50.83
                                 USD            59.50
The Bricklayer’s Bible           USD            23.92
The Duck Goes Here               EUR            23.88
                                 USD           203.32
The Tower Commission Report      GBP            26.00
                                 USD            84.00